<table class="table table-hover">
    <thead class="thead-light">
        
        <th>Name</th>
        <th>Price</th>
        
        <th>
           <a class ="btn btn-outline-success" routerLink="/item"><i class="fa fa-plus-square"></i>Create New</a>
           
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemList">
            
            <th (click) = "openForEdit(item.ItemID)">{{item.Name}}</th>
            <td>{{item.Price}}</td>
            
            <td><a class ="btn text-danger" (click)="onDeleteItem(item.ItemID)"><i class="fa fa-thrash fa-lg"></i>Delete</a>
            </td>

            
        </tr>
    </tbody>
</table>