<form [formGroup]="angForm" [mustMatch]="['password', 'cpassword']"  novalidate>
<aw-wizard>
    <aw-wizard-step name ="wizard1" stepTitle="Title of step 1">
      Content of Step 1

      <div class="container col-4 ">
  
  
        <div class="card ">
        
           <div class="card-header"><h2>Login Registration</h2></div>
           <div class="card-body">
     
             
               <div class="row">
                   <div class="col-md-6">
                       <div class="form-group">
                         <label class="center-block">First Name: </label>
                           <input type= "text" class="form-control " formControlName="fname"  [ngClass]="{ 'is-invalid': angForm.controls['fname'].invalid }">
                        
                      
                       <div *ngIf="angForm.controls['fname'].invalid && (angForm.controls['fname'].dirty || angForm.controls['fname'].touched)" class="invalid-feedback">
                           <div *ngIf="angForm.controls['fname'].errors.required">
                           First Name is required.
                         </div>
                       </div>
                     </div>
                   </div>
     
                       <div class="col-md-6">
                         <div class="form-group">
                           <label class="center-block">Last Name: </label>
                             <input type= "text" class="form-control" formControlName="lname"  [ngClass]="{ 'is-invalid': angForm.controls['lname'].invalid }">
                             <div *ngIf="angForm.controls['lname'].invalid && (angForm.controls['lname'].dirty || angForm.controls['lname'].touched)" class="invalid-feedback">
                                 <div *ngIf="angForm.controls['lname'].errors.required">Last Name is required.</div>
                             </div>
                         </div>
                       </div>
     
               </div>
     
     
          
     
          
           </div>
           <div class="card-footer">
           </div>
        </div>
       
           
     
     </div>

      <button type="button" awNextStep>Next Step</button>
      <button type="button" [awGoToStep]="{stepIndex: 2}">Go directly to third Step</button>
    </aw-wizard-step>
    <aw-wizard-step  name ="wizard2" stepTitle="Title of step 2" awOptionalStep>
      Content of Step 2

      
      <div class="container col-4 ">
  
  
        <div class="card ">
        
           <div class="card-header"><h2>Login Registration</h2></div>
           <div class="card-body">
     
            
                   
               <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                         <label class="center-block">Email:  </label>
                           <input type= "email" class="form-control" formControlName="email"  [ngClass]="{ 'is-invalid': angForm.controls['email'].invalid }">
                             <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="invalid-feedback">
                                 <div  *ngIf="angForm.controls['email'].errors.required">
                                 Email is required.
                               </div>
                               <div *ngIf="angForm.controls['email'].errors.email">
                                 Email must be a valid email address.
                               </div>
     
                             </div>
                         </div>
                     </div>
     
                     <div class="col-md-6">
                         <div class="form-group">
                           <label class="center-block">Mobile:</label>
                             <input type= "text" class="form-control" formControlName="mobile" [ngClass]="{ 'is-invalid': angForm.controls['mobile'].invalid }">
                           
                         
                         <div *ngIf="angForm.controls['mobile'].invalid && (angForm.controls['mobile'].dirty || angForm.controls['mobile'].touched)" class="invalid-feedback">
                           
                           <div *ngIf="angForm.controls['mobile'].errors.required">
                               Mobile is required. 
                           </div>
                         
                           <div *ngIf="angForm.controls['mobile'].errors.pattern">
                             Mobile No is not valid.
                           </div> 
     
     
                         </div>
     
                       </div>
     
                     </div>
                 </div>
     
                 
     
     
     
          
           </div>
           <div class="card-footer">
           </div>
        </div>
       
           
     
     </div>



      <button type="button" awPreviousStep>Go to previous step</button>
      <button type="button" awNextStep>Go to next step</button>
    </aw-wizard-step>
    <aw-wizard-step  name ="wizard3" stepTitle="Title of step 3">
      Content of Step 3


      
      <div class="container col-4 ">
  
  
        <div class="card ">
        
           <div class="card-header"><h2>Login Registration</h2></div>
           <div class="card-body">
     
            
              
                 
                 <div class="row">
                   <div class="col-md-6">
     
                     <div class="form-group">
                       <label class="center-block">Password: </label>
                         <input type= "password" class="form-control" formControlName="password" minlength="6" [ngClass]="{ 'is-invalid': angForm.controls['password'].invalid }"> 
                      
                     
                     <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="invalid-feedback">
                       <div *ngIf="angForm.controls['password'].errors.required">
                           Password is required.
                       </div>
                       <div *ngIf="angForm.controls['password'].errors.minlength" >
                         Minimum Length is 6.
                       </div>
                     </div>
                     </div>
                   </div>
     
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="center-block">Confirm Password:  </label>
                         <input type= "password" class="form-control" formControlName="cpassword" minlength="6" [ngClass]="{ 'is-invalid': angForm.controls['cpassword'].invalid }"> 
                     
                    
                     <div *ngIf="angForm.controls['cpassword'].invalid && (angForm.controls['cpassword'].dirty || angForm.controls['cpassword'].touched)" class="invalid-feedback">
                         <div *ngIf="angForm.controls['cpassword'].errors.required">
                           Confirm Password is required.
                       </div>
                       <div *ngIf="angForm.controls['cpassword'].errors.minlength" >
                         Minimum Length is 6.
                       </div>
                       <div *ngIf="angForm.controls['cpassword'].errors.mustMatch">Passwords must match</div>
                     </div>
                   </div>
                 </div>
                 </div>
     
     
                 <div class="form-group">
                   <label class="center-block">Gender:  </label>
                     <input type="radio"  value = "Male" formControlName="gender" [ngClass]="{ 'is-invalid': angForm.controls['cpassword'].invalid }"/>Male 
                     <input type="radio"  value = "Female" formControlName="gender"[ngClass]="{ 'is-invalid': angForm.controls['cpassword'].invalid }" />Female <br />
                 
                
     
     
                 <div *ngIf="angForm.controls['gender'].invalid && (angForm.controls['gender'].dirty || angForm.controls['gender'].touched)" class="invalid-feedback">
                     <div *ngIf="angForm.controls['gender'].errors.required">
                       Gender is required.
                   </div>
                 </div>
               </div>
     
                   <div class="form-group">
                     <label class="center-block"></label>
                       <input type="checkbox"  formControlName="remme" [ngClass]="{ 'is-invalid': angForm.controls['cpassword'].invalid }"/>Remember Me
                   
     
                   <div *ngIf="angForm.controls['remme'].invalid && (angForm.controls['remme'].dirty || angForm.controls['remme'].touched)" class="invalid-feedback">
                       <div *ngIf="angForm.controls['remme'].errors.required">
                         Remember Me is required.
                     </div>
                   </div>
                 </div>
     
     
                   <div class="form-group">
                     <button type="submit"
                     [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success" (click)="onSubmit(angForm.value)">
                     Save
                   </button>
                   </div>
     
         
     
          
           </div>
           <div class="card-footer">
           </div>
        </div>
       
           
     
     </div>



      <button type="button" awPreviousStep>Previous Step</button>
      <button type="button" (click)="finishFunction()">Finish</button>
    </aw-wizard-step>
  </aw-wizard>

</form>