<div class="container col-4">
    <div class="card ">
       <div class="card-header"><h2></h2></div>
            <div class="card-body">
                <form #form="ngForm" autocomplete="off" ngif="dropdownList" (submit)="onSubmit(form)">  
                    <date-range-picker
                        name="dateRange"
                        [(dateRange)]=dateRange>
                    </date-range-picker>
                    <div class="form-group"> 
                        <button type="submit">Submit</button>
                    </div>
                </form>   

            </div>
        <div class="card-footer"></div>
    </div>

</div>

